<% provide(:title, "吃货求助") %>

<h1>帮助</h1>
<p>
  想要知道吃货怎么吃遍天下无敌手的话请联系
  <a href="http://weibo.com/kekei">搞基男</a>,
  想要给吃货网提建议的话请联系
  <a href="http://michaelfeng2015.github.io"><em>一个神秘大吃货</em>
  的GitHub</a>
</p>
