<% provide(:title, "吃货网") %>
<div class="center jumbotron">

  <h1>欢迎来到吃货网</h1>

  <h2>
    这个网站是专门用来跟
    <a href="http://weibo.com/kekei">天下吃货 </a>分享交流减肥经验的^_^,现在就加入这个伟大的吃货家族吧！！
  </h2>
  <%= link_to "注册吃货", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("myself.jpg", alt: "my logo"), 'http://weibo.com/kekei' %>
