<footer class="footer">
  <small>
    本 <a href="#"> 搞基网 </a>
    是由 <a href="http://weibo.com/kekei"> 伟大的Michael Feng </a>
    制作的专业搞基网站。
  </small>
    <nav>
      <ul>
        <li><%= link_to "关于搞基", about_path %></li>
        <li><%= link_to "联系搞基", contact_path %></li>
        <li><a href="http://weibo.com/kekei">搞基丑闻</a></li>
      </ul>
    </nav>
</footer>
