<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "搞基网 | 啥男人都有", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "首页",   root_path %></li>
        <li><%= link_to "搞基求助", help_path %></li>
        <li><%= link_to "登陆搞基", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
