<footer class="footer">
  <small>
    本 <a href="#"> 吃货网 </a>
    是由 <a href="http://weibo.com/kekei"> 伟大的Michael Feng </a>
    制作的专业吃货网站。
  </small>
    <nav>
      <ul>
        <li><%= link_to "关于吃货", about_path %></li>
        <li><%= link_to "联系吃货", contact_path %></li>
        <li><a href="http://weibo.com/kekei">吃货丑闻</a></li>
      </ul>
    </nav>
</footer>
